<div class="signin-form">
    <div class="wrapper">
        <div class="text-center">
            <h2>Todo Movies App</h2>
            <small>欢迎体验 Todo Movies App， 使用之前请先注册 themoviedb 的账户</small>
        </div>
        <div class="form-box">
            <div ng-if="form.hasUserLoginState"
                class="login-checking text-white">
                <div class="loading-text text-center"
                    ng-if="!form.userInfo">
                    <img src="../../assets/spinner.svg" width="48" height="48">
                    <p>Checking User...</p>
                </div>
                <div class="loading-text text-center"
                    ng-if="form.userInfo">
                    <i class="icons icon-user"></i>
                    <h4>{{form.userInfo.username}}</h4>
                </div>
            </div>
            <form class="login-form"
                name="form.loginForm"
                ng-submit="form.login(form.account)"
                autocomplete="off"
                novalidate>
                <div ng-if="form.loginError"
                    class="login-message {{form.loginError.type}}">
                    <p>{{form.loginError.text}}</p>
                </div>
                <div class="form-group">
                    <label for="username">用户名</label>
                    <input id="username"
                        type="text"
                        class="form-control"
                        placeholder="username"
                        ng-model="form.account.username"
                        required>
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input id="password"
                        type="password"
                        class="form-control"
                        placeholder="password"
                        ng-model="form.account.password"
                        required>
                </div>
                <button type="submit"
                    class="btn btn-primary btn-block btn-round"
                    ng-disabled="form.loginForm.$invalid || form.isAjaxRequest">Submit
                    <i class="spinner" ng-if="form.isAjaxRequest">
                        <img src="../../assets/spinner.svg" width="18" height="18"></i>
                </button>
            </form>
        </div>
    </div>
</div>
