<div class="navbar-header bg-black">
    <a ui-sref="root.layout.home" class="navbar-brand text-lt">
        <h1 class="logo">{{$root.appName}}</h1>
    </a>
</div>
<div class="navbar-right box-shadow bg-white-only">
    <div class="toolbar">
        <button type="button" class="toggle-menu-btn">
            <i class="icons icon-menu"></i>
        </button>
        <form class="navbar-form">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="search by movies">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-search">
                            <i class="icons icon-magnifier"></i>
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="account">
        <a class="login" href="#"><i class="icons icon-user"></i></a>
    </div>
</div>
