<div class="navbar-header bg-black">
    <a ui-sref="root.layout.home" class="navbar-brand text-lt">
        <h1 class="logo">{{$root.appName}}</h1>
    </a>
</div>
<div class="navbar-right box-shadow bg-white-only">
    <div class="toolbar">
        <button type="button" class="toggle-menu-btn">
            <i class="icons icon-menu"></i>
        </button>
        <form class="navbar-form"
            name="navbarSearchForm"
            ng-submit="vm.searchStart(vm.keyword)">
            <div class="form-group">
                <div class="input-group">
                    <input type="text"
                        class="form-control"
                        ng-model="vm.keyword"
                        placeholder="Search..."
                        require>
                    <span class="input-group-btn">
                        <button type="submit"
                            ng-disabled="navbarSearchForm.$invalid"
                            class="btn btn-search">
                            <i class="icons icon-magnifier"></i>
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="account">
        <div class="user"
            ng-if="$root.userIsLoggedIn">
            <a href="#">
                <span class="name">{{$root.user.name || $root.user.username}}</span>
                <img class="avatar" ng-src="//secure.gravatar.com/avatar/{{$root.user.avatar}}.jpg?s=80" /></a>
            <a class="logout"
                ui-sref="root.layout.login({action: 'logout'})">
                <i class="icons icon-logout"></i>
            </a>
        </div>
        <a class="login"
            ng-if="!$root.userIsLoggedIn"
            ui-sref="root.layout.login">
            <i class="icons icon-user"></i>
        </a>
    </div>
</div>
<butter-bar></butter-bar>
