<!DOCTYPE html>
<html lang="zh-CN" ng-app=<%= htmlWebpackPlugin.options.appName || 'App'%> ng-class="isIEBrowser" ng-strict-di>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="fragment" content="!">
    <link rel="dns-prefetch" href="//api.themoviedb.org">
    <title ng-bind="title"><%= htmlWebpackPlugin.options.title%></title>
    <base href="/">
</head>
    <body ng-class="pageClass + '-page'">
        <div ui-view class="app app-header-fixed app-aside-fixed">
            <loading-bar></loading-bar>
        </div>
        <% if (htmlWebpackPlugin.options.devServer) { %>
        <script src="/webpack-dev-server.js"></script>
        <% } %>
    </body>
</html>
